#thumb {
    width: 345px;
    height: 345px;
}

#thumb img {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.img-thumbnail {
    margin: 5px;
    width: 380px;
    height: 450px;
}